@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

.home-body {
  color: whitesmoke;
  font: 16px/1.25 "Raleway", sans-serif;
}

.Second-Hand-header {
  padding-bottom: 15%;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home-body,
  .Second-Hand-header {
    font-size: large;
  }
  .Second-Hand-header {
    font-size: large;
  }
  .btn-group .btn {
    font-size: xx-small;
    width: 90px;
    height: 30px;
  }
}
